.principal {
  .clotes {
    justify-content: space-betweencenter;
    flex-wrap: wrap;
    display: flex;
    align-items: center;

    gap: 110px;
  }

  .Tecnology {
    justify-content: space-betweencenter;
    flex-wrap: wrap;
    display: flex;
    align-items: center;

    gap: 110px;
  }
}
