<div class="principal">
  <br />
  <br />
  <mat-card>Indumentaria</mat-card>
  <div class="clotes">
    <div>
      <img
        class="img"
        src="https://fakestoreapi.com/img/71YXzeOuslL._AC_UY879_.jpg"
        style="width: 350px; height: 500px"
        alt=""
      />
    </div>

    <div>
      <img
        class="img"
        src="https://fakestoreapi.com/img/81fPKd-2AYL._AC_SL1500_.jpg"
        style="width: 350px; height: 500px"
        alt=""
      />
    </div>

    <div>
      <img
        class="img"
        src="https://fakestoreapi.com/img/71-3HjGNDUL._AC_SY879._SX._UX._SY._UY_.jpg"
        style="width: 350px; height: 500px"
        alt=""
      />
    </div>
  </div>
  <mat-card>Tecnologia</mat-card>
  <div class="Tecnology">
    <div>
      <img
        class="img"
        src="https://fakestoreapi.com/img/61U7T1koQqL._AC_SX679_.jpg"
        style="width: 350px; height: 500px"
        alt=""
      />
    </div>
    <div>
      <img
        class="img"
        src="https://fakestoreapi.com/img/81Zt42ioCgL._AC_SX679_.jpg"
        style="width: 350px; height: 500px"
        alt=""
      />
    </div>
    <div>
      <img
        class="img"
        src="https://fakestoreapi.com/img/81QpkIctqPL._AC_SX679_.jpg"
        style="width: 350px; height: 500px"
        alt=""
      />
    </div>
  </div>
</div>
