<mat-card-footer>
  <footer class="footer">
    <mat-card-title> SEGUINOS</mat-card-title>
    <div class="footer__links">
      <a class="footer__link" href="https://facebook.com" target="_blank">
        <img
          src="https://img.icons8.com/material/24/000000/facebook--v1.png"
          alt="Facebook"
        />
      </a>
      <a class="footer__link" href="https://Instagram.com" target="_blank">
        <img
          src="https://img.icons8.com/material/50/000000/instagram-new--v1.png"
          alt="Instagram"
        />
      </a>
      <a class="footer__link" href="https://twitter.com" target="_blank">
        <img
          src="https://img.icons8.com/material/24/000000/twitter-squared.png"
          alt="Twitter"
        />
      </a>
      <a class="footer__link" href="https://pinterest.com" target="_blank">
        <img
          src="https://img.icons8.com/material/24/000000/pinterest--v3.png"
          alt="Pinterest"
        />
      </a>
    </div>
  </footer>
</mat-card-footer>
