.form {
  &__container {
    margin: 0 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 30px;
  }

  display: flex;
  flex-direction: column;

  &__checkbox {
    display: flex;
    gap: 10px;
  }

  &__buttons {
    display: flex;
    gap: 15px;
    justify-content: center;
  }
}
